/* Mobile-first default styles */

body {
    background-color: #457B9D;
}

a:link {
    color: #FA9372;
}

a:visited {
    color: #F9A487;
}

a:hover {
    color: #F7B59B; 
    text-decoration: none;
}

a:active {
    color: #F6C7B0;
}

header {
    background-color: #F1FAEE;
    width: 100%;
    margin-bottom: 25px;
}

span, li {
    color: #002BFF;
    text-decoration: underline;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    padding: 15px;
    text-align: center;
}

h1 {
    text-align: center;
    padding-top: 15px;
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

h2, h3, p {
    color: honeydew;
    font-family: 'Raleway', sans-serif;
    align-items: center;
    text-align: center;
    padding: 15px
} 

img {
    margin: auto;
    width: 100%;
    border-radius: 10px;
    box-shadow: honeydew 1px 1px 4px;
}

figure, figcaption {
    display: flex;
    flex-direction: column;
    color: honeydew;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding-top: 10px;
    font-size: 12px;
}

 label {
    margin-bottom: 15px;
    /* padding: 40px; */
    /* width: 100%; */
}

form {
    display: flex;
    flex-direction: column;
}

button {
    width: 200px;
    margin: auto auto 15px auto;
}

footer {
    display: flex;
    justify-content: flex-end;
    background-color: #F1FAEE;
}

footer > p {
    margin: 0; 
    padding: 15px;
}

.nav {
    text-align: center;
    padding: 15px;
}

.first-name {
    color: #457B9D;
}

.group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 25px;
}

.nonwrap-group {
    background-color: #F1FAEE;
    flex-direction: column;
    width: 100%;
    margin-bottom: 25px;
    padding-bottom: 10px;
    padding-top: 10px; 
}

.nonwrap-group > h2, h3, p {
    color: #457B9D;
    font-family: 'Noto Serif', serif;
}

.nonwrap-group > div {
    color: #457B9D;
    font-family: 'Raleway', sans-serif;
}

.wrapper > div {
    color: honeydew;
    font-family: 'Raleway', sans-serif;
}

.wrapper > h2 {
    font-family: 'Noto Serif', serif;
}

.item {
    border: solid black 1px;
    /* box-shadow: 5px 5px 5px #F1FAEE; */
    margin: 10px;
    padding: 15px;
    flex: 1;
    text-align: center;
    border-radius: 10px;
}

.item-double {
    flex: 2;
    border: solid black; 1px;
    margin: 10px;
    padding: 15px;
    text-align: center;
}

.form-container, .form-container > h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Noto Serif', serif;
}

.msg-box {
    width: 100%;
    height: 100px;
    margin: 15px auto 25px auto;
}

/* DESKTOP STYLING */

@media all and (min-width: 800px) {
    .wrapper {
      width: 85%;
      margin: auto;
      align-items: center;
    }
  
    .group, .contact-group {
      flex-direction: row;
    }

    .nav-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .form-container {
        width: 85%;
        margin: auto;
    }

    h1 {
    margin: 10px auto 10px 35px;
    padding: 10px 0 10px 0;
    }

    img {
        max-width: 700px;
        margin-bottom: 5px; 
    }


    figure, figcaption {
        display: flex;
        flex-direction: column;
        color: honeydew;
        font-family: 'Raleway', sans-serif;
        text-align: center;
        padding: 0;
    }

    footer > p {
        margin: 0;
        padding: 10px;
    }

    footer {
        margin: 10px;
    }

  }