body {
    background-color: #FFEFAE;
}

.nav {
    text-align: center;
    padding: 15px;
}

span, li {
    color: #002BFF;
    text-decoration: underline;
    font-family: 'Noto Serif', serif;
    font-size: 12px;
    padding: 15px;
}

a:hover {
    text-decoration: none;
    color: #7388A7;	
}

h1, h2, h3, p {
    color: black;
    font-family: 'Raleway', sans-serif;
    align-items: center;
    text-align: center;
    padding: 15px
}

h1 {
    margin: 0;
    padding: 5px;
    
    font-family: 'Noto Serif', serif;
}

img {
    margin: auto;
    width: 100%;
}

.group {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px; 
    width: 100%;
    margin-bottom: 25px;
}

.nonwrap-group {
    background-color: #D09B7F;
    flex-direction: column;
    width: 100%;
    margin-bottom: 25px;
    padding-bottom: 10px;
    padding-top: 10px; 
}

#about-me > .group > .item {
    background-color: #FFEFAE;
}

.item {
    border: solid #2B3433 1px;
    margin: 10px;
    padding: 15px;
    flex: 1;
    text-align: center;
    border-radius: 10px;
}

.item-double {
    flex: 2;
    border: solid #2B3433 1px;
    margin: 10px;
    padding: 15px;
    text-align: center;
}

/* .form-container {
    display: block;
} */

label {
    margin-bottom: 15px;
    width: 100%;
    /* height: 160px; */
}

.msg-box {
    width: 100%;
    height: 100px;
}

button {
    width: 200px;
    margin: auto auto 15px auto;
}

/* DESKTOP STYLING */

@media all and (min-width: 800px) {
    .wrapper {
      width: 85%;
      margin: auto;
    }
  
    .group, .contact-group {
      flex-direction: row;
    }

    .nav-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .form-container {
        display: flex;
        width: 85%;
        margin: auto;
    }

    legend, input, .msg-box {
        margin-bottom: 10px; 
    }

    form {
        margin: auto;
    }

    span {
        align-items: center;
    }

    #latigo {
        margin: auto;
    }

    

  }